htlm1{ 
    background-color:#8A5AD8;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color: #5AD8C5;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: #F0230E(42, 161, 165);
    text-shadow: 3px 3px 2px black;
}
p{
    color: #0E18F0;
    font-family: "Verdana"
}
table{
    width: 95%;
    border: 1px solid #000000;
    border-radius: 20px;
    align-content: center;
    color: white;
}